@{
    ViewBag.Title = "Home Page";
}



<div>
    User Text: <input type="text" id="user-text" name="user-request" class="form-control"/>
    Server Text: <input type="text" id="server-response" name="server-text" class="form-control" />
</div>

@section scripts
{
    <script>
        
        $("#user-text").keyup(function () {

            var currentText = $(this).val();
            var data = JSON.stringify(currentText);

            $.get("/home/processrequest",

                data,

                function (response, status, http) {
                    $("#server-response").val(response);
                },
                "json");
        });
          
    </script>
}
